body{
    margin:0;
    padding:0;
    font-family:Roboto;
    overflow-x: hidden;
}
/*****ICONS****/
.icon-values{
    width:34px;
    height:35px;
    display:inline-block;
}
.icon-security{
    background:url(images/icon-security.png);
}
.icon-time{
    background:url(images/icon-time.png);
}
.icon-display{
    background:url(images/icon-display.png);
}
/****COMMONS***/
h1{
    font-size:38pt;
}
.title-wrap{
    margin:0 auto;
    text-align:center;
    padding:100px 0 60px;
}
.title-wrap p{
    color:#bbbbbb;  
    font-size: 24px;
    line-height: 30px;
}

h3{
    color:black;
    font-size: 37px;
}
/******HEADER****/
.sign-in{
    border:none;
    width:128px;
    height:39px;
    background:#ebeaea;
    border-radius: 3px;
    color:#2203b0;
    font-family:Roboto !important;
    font-size:14px;
    font-weight:700;
}
.fa-bars{
    color:white;
}
header{
    background-image: linear-gradient(to right top, #60059c, #5702a1, #4b00a5, #3c00aa, #2602af);
    position:relative;
}
header .container{
    position:relative;
    z-index: 1000;
}
header #particles-js{
    background:transparent;
}
.top-navigation-header .container{
    max-width:1350px;
}
header a{
    color:#fff;
}
header .logo{
    font-size:18px;
}
header .spn-mobile-dropdown-menu, header .ml-auto{
    margin:0 !important;
}
.top-navigation-header{
    border-bottom: 1px solid #713ab2;
    position: relative;
    z-index: 10000;
}
header .navbar{
    width: 100%;
    padding: 8px 1px 11px 43px;
}
header .nav-link{
    font-size: 14px;
    margin: 0 22px 0 0;
}
header .sign-member{
    font-size:14px;
    margin:0 117px 0 0;
}
.logo{
    text-transform: uppercase;
    font-weight:700;
    flex-grow: 1;
}
header a:hover{
    text-decoration: none;
    color:#fff;
}
.intro-title{
    text-align:center;
    color:#fff;
    padding: 114px 0 0 0;
}
.intro-title p{
    font-size: 18px;
    margin: 18px 0 0 0;
    line-height: 18px;
}
.intro-video{
    padding-top:117px;
    padding-bottom:83px;
    max-width:833px;
    margin:0 auto;
}
.intro-video iframe{
    width: 100%;
    margin-top: 5px;
}
/****CONTENT*****/
.values .container{
}
.values .title-wrap{

}
.values h3{
    margin: 0 0 18px 0;   
}
.values-item{
    padding-left: 90px;
    padding-bottom: 59px;
}
.values-item h6{
    font-weight: 900;
    font-size: 26px;
    padding: 6px 0 6px 0;
}
.values-item p{
    font-size:19px;
    color:#555555;
}
.our-team .container, .advisors .container{

}
.our-team .title-wrap, .advisors .title-wrap{

}
.people-item{
    position:relative;
}
.people-item figure{
    max-height: 200px;
    max-width: 200px;
}
.people-item figure img{
    width:100%;
    height:100%;
}
.people-desc{
    height: 0px;
    width: 0px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: visibility 0s, opacity 0.5s linear;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
}
.people-desc .bio{
    width: 300px;
    background-color: rgb(98, 0, 234);
    box-shadow: rgba(38, 50, 56, 0.19) 0px 10px 20px 0px, rgba(38, 50, 56, 0.26) 0px 6px 6px 0px;
    top: -260px;
    left: -40px;
    z-index: 1;
    position: relative;
    display: block;
    border-radius: 6px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 20px;
    color:#fff;
}
.people-item:hover .people-desc{
    visibility: visible;
    opacity: 1;
}
.people-desc .bio h4{
    padding-bottom:25px;
}
.people-desc .bio h5{
    padding-bottom:42px;
}
.social-link{
    width:58px;
    height:58px;
    background:#fff;
    border-radius: 50%;
    border:8px solid #bbbbbb;

}
.social-link i{
    color:#777;
}
.sign-in-block{
    text-align:center;
}
.sign-in-block p{
    font-size: 23px;
    font-weight: 500;
    color: #000;
    padding-top: 63px;
}
.sign-in-block p.networks{
    color: #999;
    padding-top: 17px;
    font-size: 18px;
}
.sign-in-block p.networks a{
    color:#6122e6; 
    margin:0 0 0 5px;
}
.sign-in-block .btn{
    width:218px;
    height:65px;
    border-radius: 3px;
    background:#6122e6;
    color:#fff;
    font-weight:700;
    line-height:50px;
    font-size:20px
}
.sign-in-block .btn:hover{
    background:#2203b0;
}
.timeline{
    margin-top:20px;
    height:500px;
    position:relative;
    overflow: hidden;
    width:104%;
}
.roadmap .container{
    max-width:1100px;
    overflow: hidden;
}
.timeline:after, .timeline:before{
    position:absolute;
    content:"";
    left:0px;
    right:0px;
    height:100px;
    width:100%;
    z-index: 2;
}
.timeline:before{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgb(255, 255, 255));  
}
.timeline:after{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgb(255, 255, 255)); 
    bottom: -40px;  
}
.timeline .event .content:hover {
    z-index: 1;
    background-color: rgb(98, 0, 234);
    color: white;
    box-shadow: rgba(38, 50, 56, 0.3) 0px 19px 38px 0px, rgba(38, 50, 56, 0.22) 0px 15px 12px 0px;
}
.timeline .decorative{
    position: absolute;
    text-align:center;
    z-index: 3;
    width: 60px;
    height: 60px;
    top: 0px;
    left: 0px;
    right: 17px;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(207, 216, 220);
    border-image: initial;
    border-radius: 100px;
    margin: auto;
}
.decorative img {
    width: 24px;
    margin-top: 18px;
}
.timeline__inner-container {
    height: 100%;
    padding-top: 60px;
    padding-bottom: 0px;
    position: relative;
    overflow: auto;
}
.timeline .event {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    height: 110px;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
}
.timeline .event:nth-child(2n) {
    flex-flow: row nowrap;
}
.timeline .event .content {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 70%;
    background-color: rgb(236, 239, 241);
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: rgb(176, 190, 197);
    position: relative;
    z-index: 0;
    border-radius: 5px;
    padding: 25px;
}
.timeline .event .content::before {
    top: 50%;
    content: " ";
    height: 0px;
    width: 0px;
    position: absolute;
    pointer-events: none;
    margin-top: -10px;
    right: 100%;
    border-style: solid;
    border-image: initial;
    border-color: rgba(221, 221, 221, 0);
    border-width: 10px;
}

.time-wrapper {
    position: relative;
    width: 30%;
}
.timeline .event .time-wrapper .time {
    position: relative;
    z-index: 1;
    width: 100px;
    height: 30px;
    background-color: rgb(250, 250, 250);
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgb(120, 144, 156);
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(207, 216, 220);
    border-image: initial;
    margin: 40px auto;
}
.timeline .event:nth-child(2n) .time-wrapper::after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0.4;
    border-left: 2px solid rgb(207, 216, 220);
}
.timeline .event .empty {
    width: 0px;
}
.timeline .event .time-wrapper::after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0.4;
    border-left: 2px solid rgb(207, 216, 220);
}
.timeline .event:nth-child(2n) .content::before {
    left: 100%;
    border-left-color: rgb(236, 239, 241);
}
.timeline .event:nth-child(2n) .content:hover::before {
    border-left-color: rgb(98, 0, 234);
}
.timeline .event .content:hover ~ .time-wrapper .time {
    background-color: rgb(98, 0, 234);
    color: white;
    border-color: rgb(98, 0, 234);
}
.timeline .event:nth-child(2n+1) .content:hover::before {
    left: auto;
    border-right-color: rgb(98, 0, 234);
    right: 100% !important;
}
/*****UTILITY CAROUSEL****/
.slider-utillity .title-wrap{
}
.slick-prev{
    left:27%;
}
.slick-next{
    right:27%;   
}
.slick-arrow {
    position: absolute;
    top: 290px;
    width: 50px;
    height: 50px;
    background-color: white;
    z-index: 1;
    box-shadow: rgba(38, 50, 56, 0.19) 0px 10px 20px 0px, rgba(38, 50, 56, 0.26) 0px 6px 6px 0px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    border-radius: 100px;
    padding: 16px;
}
.slick-prev:before, .slick-next:before {
    color:black;
}
/*****foooter****/
li{
    list-style: none;
}
footer .footer{
    padding-top:150px;
    padding-bottom:50px;
}
.footer-logo{
    font-size:24px;
    text-transform: uppercase;
    font-weight:700px;
}
.footer h6{
    font-size:20px;
    font-weight: 700;
}
.footer ul{
    padding:0;
    margin:0;
}
.footer ul li{
    font-size:14px;
    line-height:26px;
}
.footer .last-col ul li{
    font-size:18px;
    font-weight: 700;
    line-height:30px;
}
@media (min-width: 1025px){
    .timeline .event .empty {
        width: 40%;
    }

}
@media (min-width: 1025px){
    .timeline .event .time-wrapper {
        width: 20%;
    }
}
@media (min-width: 1025px){
    .timeline .event:nth-child(2n+1) .content::before {
        left: auto;
        border-right-color: rgb(236, 239, 241);
        right: 100% !important;
    }
}
@media (min-width: 1025px){
    .timeline .event .content {
        width: 40%;
    }
}
@media (min-width: 1025px){
    .timeline .event:nth-child(2n+1) {
        flex-flow: row-reverse nowrap;
    }
}

@media(max-width:1024px){
    header .sign-member {
        margin: 0 10px 0 0;
    }
    .gallery-logo{
        flex-wrap:wrap;
        justify-content: space-around;
    }
    .gallery-logo figure{
        width:33%;
    }
    .timeline .event:nth-child(2n){
        flex-direction:row-reverse;
    }
    .timeline .decorative {
        left: calc(15% - 15px);
        right: initial;
    }
    .timeline .event:nth-child(2n+1) .content::before {
        right:100%;
        border-right-color: rgb(236, 239, 241);
        right: 100% !important;
    }

    .timeline .event .content::before {
        top: 50%;
        content: " ";
        height: 0px;
        width: 0px;
        position: absolute;
        pointer-events: none;
        margin-top: -10px;
        right: 100%;
        border-style: solid;
        border-image: initial;
        border-color: rgba(221, 221, 221, 0);
        border-right-color: rgba(221, 221, 221, 0);
        border-width: 10px;
    }
}
@media(max-width:992px){
    .people-item figure {
        max-height:100%;
        max-width:100%;
    }
    .people-desc, .people-desc .bio{
        width:100%;

        left:0;
        top:0;
    }
    .header .navbar{
        padding: .5rem 1rem;
    }
    header .nav-link {
        font-size: 20px;
        margin: 0 0px 8px 0;
    }
    header .sign-member {
        margin: 0 0px 28px 0;
        font-size: 20px;
    }
    .values-item{
        padding-left:15px;
        text-align:center;
    }
    .spn-mobile-dropdown-menu{
        position: absolute;
        left: 0;
        right: 0;
        background: #6122e6;
        top: 56px;
        z-index: 100000;
        text-align: center;
    }
}
@media(max-width:800px){
    .gallery-logo figure{
        width:100%;
        text-align: center;
    }
}
@media(max-width:767px){
    .timeline .event .content{
        font-size:14px;
        padding:10px;
    }
    .timeline .event .time-wrapper .time {
        width: 66px;
        font-size: 12px;
    }
}
@media(max-width:640px){
    .slick-slide figure{
        width:100%;
    }
    .slick-slide figure img{
        width:100%;
        max-width:100%
    }
    .intro-title {
        padding: 50px 0 0 0;
    }
    h1 {
        font-size: 24pt;
    }
    .intro-video {
        padding-top: 40px;
    }
    .title-wrap{
        padding:50px 0 30px 0;
    }
    h3{
        font-size:28px;
    }
    .title-wrap p{
        font-size: 16px;
        line-height: 22px;
    }
    .footer{
        padding-top:50px;
    }
    .footer .col-sm-12{
        text-align: center;
    }
}
